body {
    color: #2f803e;
    font-family: "Arial", sans-serif;
    font-variant: small-caps;
}

p, ol, ul {
    color: #8e25a7;
}

h1 {
    font-size: 36px;
    text-align: center;
}

a {
    color: #FF5733;
}

img {
    height: 600px;
    width: auto;
}